/*> Reset */
* {
  padding: 0;
  margin: 0;
  line-height: 1.3;
}

/*> Layout */
.layout {
  display: grid;
  grid:
    /** rows / columns */
    /** [start line name] "area names" <track size> */
    [header-start] "header-left header-nav header-right" 10em
    [content-start] "color-picker main lever-generate" 1fr
    [footer-start] "footer-left footer-nav footer-right" 10em
    / [color-picker] 1fr [main] 2fr [lever-generate] 1fr;
}

header {
  grid-area: header-nav;
  display: flex;
  justify-content: center;
}

aside {
  display: flex;
  justify-content: center;
}

.asideOne {
  grid-area: color-picker;
}

.asideTwo {
  grid-area: lever-generate;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer-nav;
}

li {
  list-style-position: inside;
}

.links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
