/*> CSS Variables */
:root {
  --blue: #0060fa;
  --blueWhite: #f4fafd;
  --blueBright: #0485fd;
  --blueDark: #1b4183;
  --blueBlack: #091c3b;
  --green: #06b130;
  --greenWhite: #f6faf9;
  --greenBright: #00ff55;
  --greenDark: #0b725c;
  --pink: #f80d83;
  --pinkWhite: #fcf9fb;
  --pinkLight: #eb7cbe;
  --violet: #d135f8;
  --purple: #853399;
  --greyLight: #e8eaee;
  --grey: #868b94;
  --greyDark: #565963;
  --white: #fff;
}

/*> Reset */
* {
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

html {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2em;
  color: var(--purple);
}

h2 {
  font-size: 1.5em;
  color: var(--greyDark);
}

h6 {
  font-size: 0.75em;
  color: var(--violet);
}

.headerHeadings,
.footerHeadings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 1em;
  color: var(--blueDark);
}

li {
  list-style-position: inside;
  /* list-style-image: url("../images/favicon/favicon-16x16.png"); */
  font-size: 1em;
  color: var(--blueDark);
}

.links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.similarParts {
  list-style-type: circle;
  font-size: smaller;
}

hr {
  width: 15em;
  border: 0.1em solid var(--violet);
  margin: 0.5em;
}

/*> Layout */
.layout {
  display: grid;
  grid:
    /** rows / columns */
    /** [start line name] "area names" <track size> */
    [header-start] "header-left header-nav header-right" 10em
    [content-start] "color-picker main lever-generate" 1fr
    [footer-start] "footer-left footer-nav footer-right" 10em
    / [color-picker] 1fr [main] 2fr [lever-generate] 1fr;
}

header {
  grid-area: header-nav;
  display: flex;
  justify-content: center;
}

aside {
  display: flex;
  justify-content: center;
}

.asideOne {
  grid-area: color-picker;
}

.asideTwo {
  grid-area: lever-generate;
}

main {
  grid-area: main;
}

.monkeyCatRobot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thirds > svg {
  width: 200px;
  height: auto;
}

footer {
  grid-area: footer-nav;
}
