{% extends "layouts/base.njk" %} {% block page_title %} Make One Today! {%
endblock %} {% block main %}
<main class="mainIndex">
  <h2 class="h2Index">Wait for it!</h2>
  <p>This is the page that one day will generate monkeyCatRobots from:</p>
  <ul>
    <li>monkeys</li>
    <li>cats</li>
    <li>robots*</li>
  </ul>
  <section class="monkeyCatRobot">
    <div class="thirds topMCR">
      <!-- <img
        class="imgCircle"
        src="/assets/images/circle-min.svg"
        alt="A basic circle."
      /> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="500"
        height="500"
        viewBox="0 0 132.292 132.292"
      >
        <circle 
          cx="106.036"
          cy="150.262"
          r="65.483"
          fill="none"
          stroke="#ff007e"
          stroke-width="1.326"
          transform="translate(-39.89 -84.116)"
        />
      </svg>
    </div>
    <div><hr></div>
    <div class="thirds middleMCR">
      <!-- <img
        class="imgCircle"
        src="/assets/images/circle-min.svg"
        alt="A basic circle."
      /> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="500"
        height="500"
        viewBox="0 0 132.292 132.292"
      >
        <circle 
          cx="106.036"
          cy="150.262"
          r="65.483"
          fill="none"
          stroke="#ff007e"
          stroke-width="1.326"
          transform="translate(-39.89 -84.116)"
        />
      </svg>
    </div>
    <div><hr></div>
    <div class="thirds bottomMCR">
        <!-- <img
        class="imgCircle"
        src="/assets/images/circle-min.svg"
        alt="A basic circle."
      /> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="500"
        height="500"
        viewBox="0 0 132.292 132.292"
      >
        <circle 
          cx="106.036"
          cy="150.262"
          r="65.483"
          fill="none"
          stroke="#ff007e"
          stroke-width="1.326"
          transform="translate(-39.89 -84.116)"
        />
      </svg>
    </div>
  </section>
</main>
{% endblock %}
