{% extends "layouts/base.njk" %} {% block page_title %} Make One Today! {%
endblock %} {% block main %}
<main class="mainIndex">
  <h2 class="h2Index">Wait for it!</h2>
  <p>This is the page that one day will generate monkeyCatRobots from:</p>
  <ul>
    <li>monkeys</li>
    <li>cats</li>
    <li>robots*</li>
  </ul>
  <section class="monkeyCatRobot">
    <div class="topMCR">
      <!-- <img
        class="imgMonkey"
        src="/assets/images/monkey-circle-min.svg"
        alt="A basic monkey circle."
      /> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="100"
        height="100"
        viewBox="0 0 100 100"
      >
        <g fill="none" stroke="#ff007e" stroke-width="1.5">
          <path d="M74.083 117.915h65.012v58.964H74.083z" />
          <path d="M74.083 117.915h65.012v58.964H74.083z" />
          <circle r="22.679" cy="147.397" cx="106.589" />
        </g>
      </svg>
    </div>
    <div class="middleMCR">
      <!-- <img
        class="imgCat"
        src="/assets/images/cat-star-min.svg"
        alt="A basic cat star."
      /> -->
      <?xml version="1.0" encoding="UTF-8" standalone="no"?>
      <!-- Created with Inkscape (http://www.inkscape.org/) -->

      <svg
        xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:cc="http://creativecommons.org/ns#"
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:svg="http://www.w3.org/2000/svg"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
        xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
        width="100mm"
        height="100mm"
        viewBox="0 0 100 99.999998"
        version="1.1"
        id="svg8"
        inkscape:version="0.92.4 (5da689c313, 2019-01-14)"
        sodipodi:docname="cat-star-100.svg"
      >
        <defs id="defs2" />
        <sodipodi:namedview
          id="base"
          pagecolor="#ffffff"
          bordercolor="#666666"
          borderopacity="1.0"
          inkscape:pageopacity="0.0"
          inkscape:pageshadow="2"
          inkscape:zoom="0.35"
          inkscape:cx="-1088.6181"
          inkscape:cy="109.8344"
          inkscape:document-units="mm"
          inkscape:current-layer="layer1"
          showgrid="false"
          inkscape:window-width="1920"
          inkscape:window-height="1017"
          inkscape:window-x="-8"
          inkscape:window-y="-8"
          inkscape:window-maximized="1"
          fit-margin-top="0"
          fit-margin-left="0"
          fit-margin-right="0"
          fit-margin-bottom="0"
        />
        <metadata id="metadata5">
          <rdf:RDF>
            <cc:Work rdf:about="">
              <dc:format>image/svg+xml</dc:format>
              <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
              <dc:title></dc:title>
            </cc:Work>
          </rdf:RDF>
        </metadata>
        <g
          inkscape:label="Layer 1"
          inkscape:groupmode="layer"
          id="layer1"
          transform="translate(-64.708987,-77.893685)"
        >
          <g
            id="g1389"
            transform="matrix(3.8285774,0,0,3.8285774,-183.03439,-503.18611)"
          >
            <g
              transform="matrix(0.39779966,0,0,0.4375852,38.997794,104.39981)"
              id="g7003"
            >
              <rect
                style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#ff007e;stroke-width:1.5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                id="rect6416"
                width="65.011902"
                height="58.964287"
                x="65.38353"
                y="108.23904"
              />
              <rect
                y="108.23904"
                x="65.38353"
                height="58.964287"
                width="65.011902"
                id="rect6418"
                style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#ff007e;stroke-width:1.5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
              />
              <path
                sodipodi:type="star"
                style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#ff007e;stroke-width:1.5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                id="path6998"
                sodipodi:sides="5"
                sodipodi:cx="97.889481"
                sodipodi:cy="140.69923"
                sodipodi:r1="29.491835"
                sodipodi:r2="14.745916"
                sodipodi:arg1="-1.5707963"
                sodipodi:arg2="-0.9424778"
                inkscape:flatsided="false"
                inkscape:rounded="0"
                inkscape:randomized="0"
                d="m 97.889481,111.2074 8.667429,17.56214 19.38097,2.81622 -14.0242,13.67021 3.31067,19.30266 -17.334869,-9.11348 -17.334867,9.11348 3.310667,-19.30266 -14.024202,-13.67021 19.380969,-2.81622 z"
                inkscape:transform-center-x="1.247619e-06"
                inkscape:transform-center-y="-2.8162212"
              />
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div class="bottomMCR">
      <!-- <img
        class="imgRobot"
        src="/assets/images/robot-triangle-min.svg"
        alt="A basic robot triangle."
      /> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="210mm"
        height="297mm"
        viewBox="0 0 210 297"
      >
        <g fill="none" stroke="#ff007e" stroke-width="1.5">
          <path d="M65.384 108.239h65.012v58.964H65.384z" />
          <path d="M65.384 108.239h65.012v58.964H65.384z" />
          <path
            transform="matrix(-.99897 0 0 -1.05492 195.678 283.005)"
            d="M128.996 165.12l-62.204-.372 31.425-53.684z"
          />
        </g>
      </svg>
    </div>
  </section>
</main>
{% endblock %}
