<footer>
  <nav class="navFooter">
    <ul class="links linksFooter">
      <li class="link linkTomsSite">
        <a
          href="https://www.thwcorbin.com"
          title="Tom's Two-up Two-down website"
        >
          Tom's Site
        </a>
      </li>
      <li class="link linkMCRobot">
        <a href="https://www.monkeycatrobot.com" title="monkeyCatRobot website">
          monkeyCatRobot
        </a>
      </li>
      <li class="link linkGitHub">
        <a
          href="https://github.com/ThwCorbin/monkeycatrobot"
          title="monkeyCatRobot GitHub repo"
        >
          GitHub
        </a>
      </li>
    </ul>
    <div class="footerHeadings">
      <h6>
        <small>* No robots are harmed in the bioengineering process.</small>
      </h6>
      <h6>
        <small><small><small>** Gnus, zebras, opossums, Atari 7800s, hedgepigs, lobster, dogs, astroid miners, and other carbon or silicon-based life forms.</small></small></small>
      </h6>
    <div>
  </nav>
</footer>
