<header>
  <nav class="navHeader">
    <ul class="links linksHeader">
      <li class="link linkTomsSite">
        <a href="https://www.thwcorbin.com"
           title="Tom's Two-up Two-down website"
        >
          Tom's Site
        </a>
      </li>
      <li class="link linkMCRobot">
        <a href="https://www.monkeycatrobot.com"
           title="monkeyCatRobot website"
        >
          monkeyCatRobot
        </a>
      </li>
      <li class="link linkGitHub">
        <a href="https://github.com/ThwCorbin/monkeycatrobot"
           title="monkeyCatRobot GitHub repo"
        >
          GitHub
        </a>
      </li>
    </ul>
  </nav>
  <h1 class="headerTitle">Bioengineer a monkeyCatRobot!</h1>
  <h6 class="headerSubtitle">(or similar depending on availability)</h6>
</header>
